.hero {
  padding: 118px 0;
  background-color: #2f303a;
  background-image: url(images/hero/mobile-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(images/hero/tablet-hero.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(images/hero/desctop-hero.jpg);
    padding: 200px 0;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  max-width: 370px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
