.modal-form {
  display: flex;
  flex-direction: column;
  padding: 39px;
}

.modal-form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: #2196f3;
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-field input:focus + & {
    fill: #2196f3;
  }
}

.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: #2196f3;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-field + .modal-form-field {
  margin-top: 10px;
}

.modal-form-field-content {
  display: block;
  position: relative;
  margin-top: 6px;
}

.modal-form-check-label::before {
  display: inline-flex;
  content: '';
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-check:checked + & {
    border: 2px solid #2196f3;
    background-color: #2196f3;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.agreement-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal-form-check-link {
  color: #2196f3;
}
