.modal {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  max-height: 610px;
  overflow-y: scroll;
  border-radius: 4px;
  background-color: #fff;
  transition: transform, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}
